body {
  background: #0b0f19;
  margin: 0;
  font-family: "Segoe UI", system-ui, sans-serif;
}

.board {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-size: 3rem;
  letter-spacing: 4px;
  margin-bottom: 40px;
  color: #00e5ff;
}

.card {
  background: linear-gradient(135deg, #1e293b, #020617);
  padding: 60px 100px;
  border-radius: 20px;
  box-shadow: 0 40px 100px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.queue {
  font-size: 6rem;
  font-weight: bold;
  color: #38bdf8;
}

.till {
  margin-top: 20px;
  font-size: 2.5rem;
  color: #e5e7eb;
}

.waiting {
  font-size: 2rem;
  opacity: 0.6;
}
